body{
    display: flex;
    justify-content: center;
}
.div1{

    display: flex;
    background-color: rgb(94, 100, 100);
    padding: 20px;
    border-radius: 20px;
}
.div2{
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 8px;
    button{
        border-radius: 5px;
    }
}
#txt::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#txt{
    padding: 10px;
    margin-left: 8px;
    min-width: 240px;
    min-height: 240px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.div3{
    button{
        width: 100px;
        height: 100%;
        font-size: 20px;
    }
}
#button11{
    width: 48%;
    font-size: 20px;
    height: 100%;
}
#button12{
    width: 48%;
    height: 100%;
    font-size: 20px;
}